# Import all necessary libraries

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import random
# Dependencies and Setup
# SQL Alchemy
from sqlalchemy import create_engine

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData, PrimaryKeyConstraint

from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
import sqlite3

# Load and clean data set
## EV charging station by location

In [3]:
stations_df = pd.read_csv('../project-3/data/alt_fuel_stations.csv')
stations_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '../project-3/data/alt_fuel_stations.csv'

In [ ]:
stations_df.columns

In [ ]:
# keep only wanted columns & Reorder - make ID column first
stations_df = stations_df[['ID','Station Name','Street Address','City','State','ZIP','Station Phone','Status Code',
                           'Groups With Access Code','Access Days Time','Geocode Status',
       'Latitude', 'Longitude','Open Date','EV Connector Types','Access Code', 'Facility Type', 'EV Pricing']]

In [ ]:
# Rename column names
stations_df.rename(columns={'ID': 'id', 'Station Name':'station_name', 'Street Address': 'street_address',
                            'City': 'city', 'State': 'state','ZIP': 'zip','Station Phone': 'station_phone',
                            'Status Code': 'status_code', 'Groups With Access Code': 'groups_access_code', 
                            'Access Days Time': 'access_days_time', 'Geocode Status': 'geocode status',
                            'Latitude': 'latitude', 'Longitude': 'longitude','Open Date':'open_date','EV Connector Types':'ev_connector_types',
                            'Access Code':'access_code', 'Facility Type':'facility_type' , 'EV Pricing':'ev_pricing'
                            }, inplace=True)

In [ ]:
stations_df.head()

In [8]:
print(stations_df.columns)

Index(['id', 'station_name', 'street_address', 'city', 'state', 'zip',
       'station_phone', 'status_code', 'groups_access_code',
       'access_days_time', 'geocode status', 'latitude', 'longitude',
       'open_date', 'ev_connector_types', 'access_code', 'facility_type',
       'ev_pricing'],
      dtype='object')

In [9]:
stations_df.fillna(0)

,id,station_name,street_address,city,state,zip,station_phone,status_code,groups_access_code,access_days_time,geocode status,latitude,longitude,open_date,ev_connector_types,access_code,facility_type,ev_pricing
0,1517,LADWP - Truesdale Center,11797 Truesdale St,Sun Valley,CA,91352,0,E,Private,Fleet use only,GPS,34.248319,-118.387971,1999-10-15,CHADEMO J1772 J1772COMBO,private,UTILITY,0
1,1519,LADWP - West LA District Office,1394 S Sepulveda Blvd,Los Angeles,CA,90024,0,E,Private,0,200-8,34.052542,-118.448504,2020-02-28,J1772,private,UTILITY,Free
2,1523,Los Angeles Convention Center,1201 S Figueroa St,Los Angeles,CA,90015,213-741-1151,E,Public,24 hours daily; pay lot,GPS,34.040539,-118.271387,1995-08-30,J1772,public,PARKING_GARAGE,0
3,1525,LADWP - John Ferraro Building,111 N Hope St,Los Angeles,CA,90012,0,E,Private,For fleet and employee use only,GPS,34.059133,-118.248589,1999-10-15,CHADEMO J1772 J1772COMBO,private,UTILITY,0
4,1531,LADWP - Haynes Power Plant,6801 E 2nd St,Long Beach,CA,90803,0,E,Private,Fleet use only,GPS,33.759802,-118.096665,2018-05-01,CHADEMO J1772 J1772COMBO,private,UTILITY,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50263,204683,CENTURY PARK AOS EV BAY 6,2000 Avenue of the Stars,Los Angeles,CA,90067,888-758-4389,E,Public,24 hours daily,GPS,34.058784,-118.414221,2022-01-12,J1772,public,0,0
50264,204684,CENTURY PARK AOS EV BAY 5-7,2000 Avenue of the Stars,Los Angeles,CA,90067,888-758-4389,E,Public,24 hours daily,GPS,34.058609,-118.414402,2022-01-12,J1772,public,0,0
50265,204685,Council Bluffs HyVee,2323 W Broadway,Council Bluffs,IA,51501,855-900-7584,E,Public,24 hours daily,GPS,41.261193,-95.879091,2022-01-12,CHADEMO J1772COMBO,public,0,0
50266,204686,Johnston Hy-Vee,5750 Merle Hay Rd,Johnston,IA,50131,855-900-7584,E,Public,24 hours daily,GPS,41.665039,-93.699570,2022-01-12,CHADEMO J1772COMBO,public,0,0
50267,204691,33-10 Queens Blvd,33-10 Queens Blvd,Queens,NY,11101,888-356-8911,E,Public,24 hours daily,GPS,40.744363,-73.931120,2022-01-12,J1772,public,0,0

In [10]:
stations_df.size

904824

In [11]:
stations_df.describe()

                  id      latitude     longitude
count   50268.000000  50268.000000  50268.000000
mean   150063.543845     37.664211    -98.473725
std     44800.377155      5.013167     19.778004
min      1517.000000     18.334138   -159.788556
25%    115942.750000     34.023824   -118.333911
50%    166463.500000     37.929251    -95.319231
75%    182483.250000     41.129277    -80.141900
max    204691.000000     64.852466      0.000000

## use web scrape to see how average temperatures in different regions have increased over time

In [12]:
url = 'https://science2017.globalchange.gov/chapter/6/'
table = pd.read_html(url)
temp_df = table[2]
temp_df

,NCA Region,Change in Annual Average Temperature,Change in Annual Average Maximum Temperature,Change in Annual Average Minimum Temperature
0,Contiguous U.S.,1.23°F,1.06°F,1.41°F
1,Northeast,1.43°F,1.16°F,1.70°F
2,Southeast,0.46°F,0.16°F,0.76°F
3,Midwest,1.26°F,0.77°F,1.75°F
4,Great Plains North,1.69°F,1.66°F,1.72°F
5,Great Plains South,0.76°F,0.56°F,0.96°F
6,Southwest,1.61°F,1.61°F,1.61°F
7,Northwest,1.54°F,1.52°F,1.56°F
8,Alaska,1.67°F,1.43°F,1.91°F
9,Hawaii,1.26°F,1.01°F,1.49°F
10,Caribbean,1.35°F,1.08°F,1.60°F

In [13]:
## convert tabulated data to html if needed

temp_table = temp_df.to_html()

In [14]:
# Store filepath in a variable
#station_file = "Resources/DataOne.csv"
carbon_dioxide_file = '../project-3/data/us_and_world_co2_emission.csv'

In [21]:
carbon_dioxide_df.columns

Index(['ï»¿ENTITY', 'CODE', 'YEAR', 'ANNUALCO2EMISSION'], dtype='object')

In [22]:
carbon_dioxide_df.rename(columns={'ï»¿ENTITY':'ENTITY'},inplace=True)

In [19]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
carbon_dioxide_df = pd.read_csv(carbon_dioxide_file, encoding="ISO-8859-1")

In [24]:
## load states CO2 emission

US_co2 = carbon_dioxide_df.loc[carbon_dioxide_df["ENTITY"] == "United States"]
US_co2_df = US_co2.tail(30)
US_co2_df

            ENTITY CODE  YEAR  ANNUALCO2EMISSION
188  United States  USA  1988         4890000000
189  United States  USA  1989         4950000000
190  United States  USA  1990         5120000000
191  United States  USA  1991         5070000000
192  United States  USA  1992         5170000000
193  United States  USA  1993         5280000000
194  United States  USA  1994         5380000000
195  United States  USA  1995         5440000000
196  United States  USA  1996         5630000000
197  United States  USA  1997         5700000000
198  United States  USA  1998         5750000000
199  United States  USA  1999         5830000000
200  United States  USA  2000         6000000000
201  United States  USA  2001         5900000000
202  United States  USA  2002         5940000000
203  United States  USA  2003         5990000000
204  United States  USA  2004         6110000000
205  United States  USA  2005         6130000000
206  United States  USA  2006         6050000000
207  United States  USA  2007         6130000000
208  United States  USA  2008         5930000000
209  United States  USA  2009         5500000000
210  United States  USA  2010         5700000000
211  United States  USA  2011         5570000000
212  United States  USA  2012         5370000000
213  United States  USA  2013         5520000000
214  United States  USA  2014         5570000000
215  United States  USA  2015         5420000000
216  United States  USA  2016         5310000000
217  United States  USA  2017         5270000000

In [25]:
states_co2 = "../data/StatesCO2_emission.csv"
##states_co2 = pd.read_csv(states_co2, error_bad_lines=False)
states_co2

'../data/StatesCO2_emission.csv'

In [26]:
engine = create_engine("sqlite:///data/db.sqlite")

meta = MetaData()
meta.drop_all(engine)